# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/

# Model weights
*.pth
deepfake-detector/checkpoints/*.pth
deepfake-detector/temp_uploads/
deepfake-detector/logs/
deepfake-api/temp_uploads/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db