__pycache__/
*.pyc
venv/
.env
*.pth
temp_uploads/
logs/*.log
.pytest_cache/
.mypy_cache/
dataset/
# Ignore all files in the dataset directory
checkpoints/
# Ignore all files in the checkpoints directory
